@charset "UTF-8";

/* modea Query para telas*/

*{
    padding: 0px;
    margin: 0px;
}

menu{
    padding: 10px;
}

menu li{
    display: inline;
}


article{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}



